
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-snap-type: y mandatory;
    
}

body{
    background: #ff608c;
    transition: background ease 1s;
}

header{
    margin: 20px 0 0 18px;
    position: fixed;
}

header img{
    width: 260px;
}
section{
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

section > img{
    width: 420px;
}

section > a{
    margin-top: 29px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.description{
    width: 320px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 30px;
    position: fixed;
    bottom: 0px;
    left: 22px;
    line-height: 25px;
}

#copyright{
    font-weight: normal;
    font-size: 13px;
}

span > a{
    color: black;
}

p > a{
    color: black;
}

.contact{
    font-size: 18px;
    font-weight: bold;
    position: fixed;
    top: 20px;
    right: 14px;
}

@media screen and (max-width: 1000px){
    header{
        position: static;
    }

    html{
        scroll-snap-type: none;
        
    }

    section{
        align-items: center;
        justify-content: center;
    }

    .description{
        position: static;
        margin: 0px 0 18px 18px;
    }

    footer{
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 10px;
    }

    .contact{
        position: static;
        margin: 0px 0 18px 18px;
        
    }
}

@media screen and (max-width: 770px){
    header img{
        width: 160px;
    }

    section img{
        width: 80%;
        max-width: 420px;
    }

    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .description{
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    .contact{
        margin-bottom: 50px;
    }
}